* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color-1);
  overflow: hidden;
}

.config-icon {
  width: 50%;
  height: 50%;
}

.config-wrapper {
  flex-direction: column;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.voting-buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.fading-in {
  animation: fade-in-sideways 1s both;
}

@keyframes fade-in-sideways {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fading-away {
  animation: fade-out-sideways 1s both;
}

@keyframes fade-out-sideways {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.voting-buttons-wrapper svg {
  width: 100%;
  height: 100%;
  padding: 16px;
}

.icons-wrapper {
  display: flex;
  margin: 0 24px;
}

.icons-wrapper img {
  width: 16%;
  margin: 10% 2%;
  transition: transform 0.2s;
}

.icons-wrapper img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.create-question-wrapper {
  margin: 0 auto;
  max-width: 600px;
}

.new-question {
  display: flex;
}

.questions-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.questions-list li {
  margin: 16px 0;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color-2);
}

.questions-list li svg {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s, visibility 0.25s;
}

.questions-list li:hover svg {
  opacity: 1;
  visibility: visible;
}

.vote img {
  width: 64px;
  height: 64px;
}
